<footer>
    <div class="back-top float-left">
      <i class="fas fa-chevron-up"></i>
      <p>Back to Top</p>
    </div>
    <div class="float-left copyright">
      <p>2020 copyright © M075</p>
    </div>
    <!-- Social Links -->
    <div class="social float-right">
      <a href="https://facebook.com/m075.dev"><i class="fab fa-facebook-f"></i> </a>
      <a href="https://twitter.com/m075_dev "><i class="fab fa-twitter" aria-hidden="true"></i> </a>
      <a href="https://instagram.com/m075.dev"><i class="fab fa-instagram" aria-hidden="true"></i> </a>
      <a href="https://behance.com/m075"><i class="fab fa-behance" aria-hidden="true"></i> </a>
      <a href="https://dribbble.com/m075"><i class="fab fa-dribbble" aria-hidden="true"></i> </a>
    </div>
  </footer>